.sec-screen-head {
  .nav-bar {
    .shape {
      width: 44px;
      height: 44px;
      position: relative;
      border-radius: 6px;
    }
    .text {
      margin-left: 10px;
      margin-top: 0;
      .title {
        margin: 0;
        margin-top: 7px;
        font-size: 14px;
        font-weight: 900;
      }
      .subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 11px;
        color: #555555;
        margin: 0;
      }
    }
  }
}
