.status-bar {
  margin-bottom: 20px;
  flex: 1;
  position: relative;
  .key-value {
    margin-bottom: 0px;
    .key,
    .value {
      font-weight: 700;
      font-size: 12px;
      margin-top: 0px;
    }
  }
  .bar {
    padding-top: 0px;
    height: 6px;
    border-radius: 6px;
    position: absolute;
    &.complete {
      background-color: #e5e5e5;
      width: 100%;
      z-index: 0;
    }
    &.full {
      z-index: 1;
    }
  }
}
